@import '~antd/dist/antd.css';

@font-face {
  font-family: 'iconfont';  /* Project id 3206455 */
  src: url('//at.alicdn.com/t/font_3206455_uca3z13hg38.woff2?t=1653552825661') format('woff2'),
       url('//at.alicdn.com/t/font_3206455_uca3z13hg38.woff?t=1653552825661') format('woff'),
       url('//at.alicdn.com/t/font_3206455_uca3z13hg38.ttf?t=1653552825661') format('truetype');
}

  body{
    background: 
  radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.15) 30%, rgba(255,255,255,.3) 32%, rgba(255,255,255,0) 33%) 0 0,
  radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.3) 13%, rgba(255,255,255,0) 14%) 0 0,
  radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 17%, rgba(255,255,255,.43) 19%, rgba(255,255,255,0) 20%) 0 110px,
  radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) -130px -170px,
  radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) 130px 370px,
  radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.2) 13%, rgba(255,255,255,0) 14%) 0 0,
  linear-gradient(45deg, #343702 0%, #184500 20%, #187546 30%, #006782 40%, #0b1284 50%, #760ea1 60%, #83096e 70%, #840b2a 80%, #b13e12 90%, #e27412 100%);
  background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100%;
  background-color: #840b2a;
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

 
  .sidebar {
    padding: 10px 0;
    :global(.iconfont) {
      margin-right: 10px;
    }
  }
  
  .header {
    padding: 0 20px;
    :global(.iconfont) {
      color: #FFF;
      cursor: pointer;
    }
  }
  
  .content {
    padding: 20px;
    min-height: 1000px !important;
  }
  
  .g2-view-container {
    margin: auto;
  }
  
